.App{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  background:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.3)),url("https://images.pexels.com/photos/27244368/pexels-photo-27244368/free-photo-of-lake-viti-on-iceland.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
  background-size: cover;
  background-position: center;
}

form{
  background-color: white;
  padding:0px 60px;
  border-radius: 10px;
}

h1{
  color:rgba(77,1,77);
  text-align:center;
}

button{
  width:100%;
  height:50px;
  padding:10px;
  border:none;
  background-color: rebeccapurple;
  color:white;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  margin-top:15px;
  margin-bottom:30px
}